/*-------------------
      	Text
--------------------*/

.txt-xxxxl {
	@include font-style($txt-xxl, 800, $line-height-heading);
	@include xs {
		font-size: calculate-rem($txt-xxxl);
	}
	@include lg {
		font-size: calculate-rem($txt-xxxxl);
		@media (max-height: 700px) {
			font-size: calculate-rem($txt-xxxl);
		}		
	}
}

.txt-xxxl {
	@include font-style($txt-xxl, 800, $line-height-heading);
	@include md {
		font-size: calculate-rem($txt-xxxl);
	}
}

.txt-xxl {
	@include font-style($txt-xl, 800, $line-height-heading);
	@include xs {
		font-size: calculate-rem($txt-xxl);
	}
}

.txt-xl {
	@include font-style($txt-l, 800, $line-height-heading);
	@include md {
		font-size: calculate-rem($txt-xl);
	}
}

.txt-l {
	@include font-style($txt-m, 200, $line-height-base);
	@include lg {
		font-size: calculate-rem($txt-l);
	}
}


.txt-m {
	@include font-style($txt-s, 200, $line-height-base);
	@include xs {
		font-size: calculate-rem($txt-m);
	}
}

.txt-s {
	@include font-style($txt-s, 200, $line-height-base);	
}

.txt-xs {
	@include font-style($txt-xs, 200, $line-height-base);
}

.txt-xxs {
	@include font-style($txt-xxs, 200, $line-height-base);
}

.txt-xxxs {
	@include font-style($txt-xxxs, 700, $line-height-base);
}