/*-------------------
        Links
--------------------*/

.link {
    display: inline-block;
    line-height: $line-height-link;
    color: $pinkish;
    border-bottom: 1px solid $pinkish;
    cursor: pointer;
}

.link--about {    
    &:hover {
        padding: 9px 6px 6px;
        background-color: $pinkish;
        color: $blue;
    }
}

.link--subtle {    
    &:hover {
        border-bottom: 1px solid rgba($pinkish, 0);
        background-color: rgba($pinkish, 1);
        color: $blue;
        padding-top: 5px;
        padding-bottom: 2px;
    }
}


.link--ns {
    color: $ns-blue;
    font-weight: 500;
    border-bottom: 1px solid rgba($ns-blue, 0.4);

    &:hover {
        border-bottom: 1px solid $ns-blue;
    }
}