/*-------------------
        Navbar
--------------------*/

.logo {
	fill: $pinkish;
	cursor: pointer;
	transition: all 600ms $ease;
}

.navbar {
	z-index: 9;
	width: 100%;
	padding: $double-space;
	position: absolute;
	
	@media (min-width: $md) {
		position: fixed;
	}
}

.navbar__list {
	position: absolute;
	top: $double-space;
	right: $double-space;
	text-align: right;
	@include font-style($txt-s, 500, $line-height-heading);
}

.navbar__list-item {
	display: inline-block;
	list-style: none;
	margin-left: $double-space;
	cursor: pointer;
	transition: $fade-all;
	
	&.is-active:after {
		content: "";
		display: block;
		position: relative;
		top: 4px;
		left: 11px;
		width: 19px;
		height: 1px;
		background-color: $blue;
	}
}	

// modifiers
// --------------------------
.navbar--ns {
	.navbar__list {
		position: fixed;
	}
	
	.navbar__list-item {
		color: $ns-blue;
	}
			
	.logo {
		fill: $ns-blue;
	}
}

.navbar--wn, .navbar--ar, .navbar--cg {
	.navbar__list {
		position: fixed;
	}
			
	.navbar__list-item {
		color: $white;
	}
			
	.logo {
		fill: $white;
	}
}

.navbar--work {					
	.navbar__list-item {
		color: $blue;
	}
			
	.logo {
		fill: $blue;
	}
}

.navbar--about {
	.navbar__list {
		position: fixed;
	}
				
	.navbar__list-item {
		color: $pinkish;
		&.is-active:after {
			left: 15px;
			background-color: $pinkish;
		}
	}
			
	.logo {
		fill: $pinkish;
	}
}

	
// classes added on scroll
// -------------------------------------
.navbar-color--wn {
	.navbar__list-item {
		color: $wn-blue;
	}
			
	.logo {
		fill: $wn-blue;
	}
}

.navbar-color--ar {
	.navbar__list-item {
		color: $ar-dark;
	}
			
	.logo {
		fill: $ar-dark;
	}
}