/*-------------------
         Body
--------------------*/

body {
	overflow-y: scroll;
	background-color: $blue;
	font-family: $font-family;
	font-size: $font-size-base;
	font-weight: 200;
	line-height: $line-height-base;
	color: $font-color-base;
	@include smooth-font();
	transition: all 600ms $ease;
}



/*-------------------
        Links
--------------------*/

a,
a:hover,
a:active,
a:focus,
a:visited {
    text-decoration: none;
    outline: none;
	transition: all 250ms $ease;
}

/*-------------------
        Buttons
--------------------*/

button,
button:hover,
button:active,
button:focus,
button:visited {
	border-radius: none;
	outline: none;
	transition: $fade-all;
}



/*-------------------
       Headings
--------------------*/

h1,
h2,
h3 {
	margin: 0 0 $double-space 0;
}

h4,
h5,
h6 {
	margin: 0 0 $space 0;
}



/*-------------------
         Misc
--------------------*/

img,
svg,
li {
	transition: $fade-all;
}