/*-------------------
      Containers
--------------------*/

.container {
	max-width: 1440px;
	margin: 0 auto;
}



/*-------------------
	    Images
--------------------*/

.img-container {
	padding: 0 $double-space;
	line-height: 0;
}

// Responsive images (ensure images don't scale beyond their parents)
.img-responsive {
  max-width: 100%;
  height: auto;
}

// Perfect circle
.img-circle {
  border-radius: 50%;
}