/*-------------------
	  Backgrounds
--------------------*/

.bg {		
	@keyframes bg-color--dark {
		0% 		{background-color: $blue;}
		50% 	{background-color: $black;}
		100%	{background-color: $blue;}
	}
}

.bg--home,
.bg--work,
.bg--about {
    background-color:$blue;
}
.bg--ns {background-color:$ns-yellow;}
.bg--wn {background-color:$wn-blue;}
.bg--ar {background-color:$ar-brown;}
.bg--cg {background-color:$cg-black;}



/*-------------------
		Lines
--------------------*/

.lines {
	display: flex;
	@include full(fixed);
}

.lines__line {
	display: block;
	position: relative;
	height: 0;
	width: 20%;
	border-left: $line;
	animation-fill-mode: both;
	animation-timing-function: $ease;
	animation-name: scale-height;
	
	span {
		position: absolute;
		width: 0;
		height: 100%;
		opacity: 0;
		background-color: $pinkish;
	}
	
	@keyframes scale-height {
		0% {
			height: 0;
			border-left: 1px solid rgba($pinkish, 0.8);
		}
		100% {
			height: 100%;
			border-left: $line;
		}
	}

	@for $i from 1 through 5 {
		&:nth-child(#{$i}) {
			animation-duration: 220ms + ($i * 80);
			animation-delay: 1000ms + ($i * 40);
			
			span {
				transition: all (200ms + ($i * 80)) $ease;
				transition-delay: ($i * 40ms);
			}
		}
	}
	
	&.is-active {			
		span {
			opacity: 0.3;
			width: 100%;
		}
	}
}
	
	
	
/*-------------------
		Intro
--------------------*/

.intro {
	justify-content: center;
	width: 100%;
	height: 100%;
	
	@include md {
		display: flex;
		position: absolute;
	}
}

.intro__container {
	max-width: $text-container-s;
	align-self: center;
	padding: $double-space;
	padding-top: $double-space + $navbar-height;
	@include md {
		padding-top: $double-space;
	}
}

.intro__title {
	margin-bottom: $triple-space;	
}

.intro__description {
	margin: 0 0 $double-space 0;
	@include md {
		margin: 0;
	}
}

// modifiers
// -----------------------------------
.intro--detail {
	.intro__container {
		max-width: $text-container-s;
		@include lg {
			max-width: $text-container-m;
		}
	}
	
	.intro__title {
		margin-bottom: $double-space;
	}
}

.intro--about {
	position: static;
	@include md {
		padding-top: 200px;
	}
	
	.intro__container {
		max-width: $text-container-m;
		
		@include md {
			max-width: $text-container-l;
			margin-bottom: 120px;
		}
	}
	
	.intro__description {
		font-size: calculate-rem($txt-l);
		line-height: 1.3;

		@include sm {
			font-size: calculate-rem($txt-xxl);
		}

		@include md {
			font-size: calculate-rem($txt-xxxl);
		}
		
		&--small {
			line-height: 1.5;
			font-size: calculate-rem($txt-m);

			@include sm {
				font-size: calculate-rem($txt-l);
			}

			@include md {
				font-size: calculate-rem($txt-xl);
			}
		}

		&--smaller {
			line-height: 1.5;
			font-size: calculate-rem($txt-s);

			@include md {
				font-size: calculate-rem($txt-m);
			}
		}
	}
}




/*-------------------
	    About
--------------------*/

.about__heading {
	margin-bottom: $triple-space;
	@include font-style(80px, 800, 0.9);
	@include sm {
		font-size: calculate-rem(120px);
	}
	@include md {
		margin-bottom: 90px;
		font-size: calculate-rem(160px);
	}
	@media (min-width: 1500px) {
		font-size: calculate-rem(200px);
	}
}

.about__margin {
	margin-bottom: $double-space;
	
	@include sm {
		margin-bottom: $triple-space;
	}

	@include md {
		margin-bottom: $quadruple-space;
	}
}



/*-------------------
	    Misc
--------------------*/

.opacity-hover {
	transition: opacity 250ms $ease;
	@include sm {
		&:hover {
			opacity: 0.5;
		}
	}
}

.home__heading {
    @include font-style($txt-xxl, 800, $line-height-heading);
    @include xs {
        font-size: calculate-rem($txt-xxxl);
    }
    @include lg {
        font-size: calculate-rem(120px);
        @media (max-height: 700px) {
            font-size: calculate-rem($txt-xxxxl);
        }		
    }
}

.home__description {
    margin: 0 0 32px;
    @include font-style($txt-m, 200, $line-height-base);
    @include xs {
        margin-bottom: $triple-space;
        font-size: calculate-rem($txt-l);		
    }
    @include lg {
        margin-bottom: 40px;
        font-size: calculate-rem($txt-xl);
        @media (max-height: 700px) {
            font-size: calculate-rem($txt-l);
        }	
    }
}

.loader {
    @include full(fixed);
    @include flex-center;
}

@keyframes loader__obj {
    0% 		{transform: scaleX(0);}
    100%	{transform: scaleX(1);}
}

.loader__obj {
    width: 256px;
    border-bottom: 1px solid $pinkish;
    transform-origin: 0 0;
    animation: loader__obj 1s $ease both infinite;
}