/*-------------------
		Mixins
--------------------*/

@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}



// font
// ------------------------------

// convert px to rem
@function calculate-rem($size) {
  $remSize: $size / $font-size-base;
  @return #{$remSize}rem;
}

// set font style
@mixin font-style($size, $weight, $factor) {
	font-weight: $weight;
	font-size: calculate-rem($size);
	line-height: $factor;
}

@mixin smooth-font() {
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
}



// lay-out
// ------------------------------
@mixin spacer($factor, $padding) {
	$spacer-size: $space / 2; // 6 pixels
	@if $padding == true { 
        padding-bottom: $spacer-size * $factor;
    }
    @else {
		margin-bottom: $spacer-size * $factor;
    }
}

@mixin full($p) {
	position: $p;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
}

@mixin bg($s) {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: $s;
}