<!-- intro -->
<section class="intro">
    <div class="intro__container">
        <h1 class="home__heading js-split-txt">
            {{{home.title}}}
        </h1>
        <p class="home__description a a-fi a-del-500">{{home.subtitle}}</p>
        <div class="a a-fi a-del-700">
            <button class="button txt-m js-checkout-button">{{home.button}}</button>
        </div>
    </div>
</section>

<!-- socials footer -->
<footer class="sfi a a-fi-up a-del-800">
    <a href="https://www.behance.net/tk305" target="_blank" class="sfi__icon" include="../assets/img/behance.svg"></a>
    <a href="https://www.instagram.com/tdenheld/" target="_blank" class="sfi__icon" include="../assets/img/insta.svg"></a>
    <a href="https://twitter.com/tdenheld" target="_blank" class="sfi__icon" include="../assets/img/twitter.svg"></a>
    <a href="https://soundcloud.com/tiborkocsis" target="_blank" class="sfi__icon" include="../assets/img/soundcloud.svg"></a>
</footer>