<!-- animation of little objects -->
<div class="ao">
	<div class="ao__particle ao--move-up-down ao--v-70"></div>
	<div class="ao__particle ao--move-up-down ao--v-20 ao--delay-2s"></div>
	<div class="ao__particle ao--move-up-down ao--v-22 ao--delay-3s ao--dur-11s"></div>
	<div class="ao__particle ao--move-up-down ao--v-30 ao--delay-5s"></div>
	<div class="ao__particle ao--move-up-down ao--v-50 ao--delay-7s ao--dur-10s"></div>
	<div class="ao__particle ao--move-up-down ao--v-80 ao--delay-6s ao--dur-13s"></div>	
</div>

<!-- intro -->
<div class="intro a a-fi">
	<div class="intro__container">
		<h1 class="intro__title txt-xxxxl">
			Creating digital experiences to engage people.
		</h1>
		<button class="button txt-m js-checkout-button">check out latest work</button>
	</div>
</div>

<!-- socials footer -->
<footer class="sfi a a-fi-up a-del-500">
	<a href="https://www.behance.net/tk305"  target="_blank" class="sfi__icon" include="../assets/img/behance.svg"></a>	
	<a href="https://www.instagram.com/tdenheld/" target="_blank" class="sfi__icon" include="../assets/img/insta.svg"></a>	
	<a href="https://twitter.com/tdenheld" target="_blank" class="sfi__icon" include="../assets/img/twitter.svg"></a>	
	<a href="https://soundcloud.com/tiborkocsis" target="_blank" class="sfi__icon" include="../assets/img/soundcloud.svg"></a>	
</footer>